body{
    margin: 0;
    box-sizing: content-box;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 30%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 30%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 10px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  label {
    display: inline-block;
    width: 50px;
    margin: 10px;
  }
  p{
    width:400px;
    font-size: 20px;
    font-weight: bold;
  }