.defualt{
    filter: none;
    background-blend-mode:normal;
}
.saturate {
    filter:saturate(3.5);
}
.sepia{
    filter: sepia(8);
}
.GrayScale{
    filter: grayscale(150%);
}
.invert{
    filter: invert(0.40);
}
.opacity {
    filter: opacity(.3);
}